* {
    font-family: sans-serif;
}

.menu {

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-left {
    width: 30%;
}

.menu-right {
    width: 70%;
}

.menu-right>ul {
    display: flex;
}

.menu-right>ul>li {
    list-style-type: none;
    margin: 10px 0px;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    padding-right: 22px;
    line-height: 1em;
}

.paragraph {
    color: #f0f0f0;
}


.foot {
    background-blend-mode: overlay;
    background-image: url("picture-texture.jpg"), linear-gradient(180deg, #474ab6 0%, #9271f6 100%);
    display: flex;
    padding: 100px;
    max-height: 250px;
    padding-left: 115px;
}

.left {
    width: 50%;
    color: white;
}

.right {
    width: 50%;
}

button {
    background-color: #09e1c0;
    color: white;
    padding: 15px 30px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
}

button:hover {
    letter-spacing: 2px;
}

.section {
    display: flex;
    margin-top: 100px;
    padding-left: 115PX;
    padding-right: 35px;
}

.section-left {
    width: 40%;
    padding-right: 22px;
}

.section-right {
    width: 60%;
}

li {
    list-style-type: none;

}

.ina {
    background-color: #7272ff;
    color: white;
    padding: 17px 44px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
}

p {
    color: #7272ff;
}

.para2 {
    border-bottom: 4px solid #09e1c0;
    /* color: #9271f6; */
    width: 40px;
}

#costheader {
    color: #9271f6;
}

.para3 {
    color: black;
}

.courses {
    display: flex;
    gap: 20px;
    border: 1px solid rgb(211, 211, 211);
}

.cost {
    display: flex;
}

.select {
    display: flex;
    color: white;
    margin-top: 100px;
    padding-left: 115PX;
}

.select-left {
    width: 50%;
}

.select-right {
    width: 50%;
}

.para4 {
    color: #d4cafb;
}

.select {
    background-blend-mode: overlay;
    background-image: url("picture-texture.jpg"), linear-gradient(180deg, #474ab6 0%, #9271f6 100%);
    display: flex;
    padding: 100px;
    max-height: 250px;
}

.para {
    border-bottom: 4px solid #09e1c0;
    width: 35px;
}

.cost {
    display: flex;
}

.cost-left {
    width: 50%;
}

.cost-right {
    width: 50%;
}

.ico {
    color: #7272ff;
}

.icos {
    color: #8585bd;
}

.code {
    color: black;
}

.ice {
    border-bottom: 4px solid #09e1c0;
    width: 35px;
}

.id {
    display: flex;
    margin-top: 100px;
    padding-left: 115px;
}

.id-left {
    width: 50%;
}

.id-right {
    width: 50%;
}

.maion {
    display: flex;
    margin-top: 100px;
    padding-left: 115px;
}

.maion-left {
    width: 50%;
}

.maion-right {
    width: 50%;
}

.feet {
    display: flex;

    background-blend-mode: overlay;
    background-image: url("picture-texture.jpg"), linear-gradient(180deg, #474ab6 0%, #9271f6 100%);
    display: flex;
    padding: 100px;
    max-height: 250px;
}

.feet-left {
    width: 50%;
}

.feet-right {
    width: 50%;
}

.per {
    color: white;
    padding-left: 10px;
}

.para1 {
    display: flex;
}

.doing {
    display: flex;
    padding-left: 80px;
    padding-right: 40px;
    margin-top: 100px;

}

.doing-left {
    width: 40%;
}

.doing-right {
    width: 60%;
}
.contact {
    border: 3px solid #09e1c0;
    width: 30px;
}
.far {
    color: #7272ff;
}
.pat {
    color: black;
}
button {
    
    background-color: #7272ff;
    color: white;
    padding: 15px 30px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
}
.di {
    display: flex;
    gap: 20px;
}

.di {
    display: flex;
}

.pet {
    color: #8d8fc1;
}

.chars {
    display: flex;
    margin-top: 100px;
}

.chars-left {
    width: 50%;
}
.chars-right {
    width: 50%;
    padding-left: 20px;
}
.red {
    display: flex;
    color: #7272ff;
}
.rel {
    color: #8589c1;
}
.col {
    border: 1px solid rgb(202, 198, 198);
    background-color: white;
}
.cs {
    color: #7272ff;
    margin-top: 40px;
}
.portfolio {
    color: #8589c1;
}
button {
    margin-top: 30px;
    padding-left: 30px;
    position: relative;
}
.conubia {
    display: flex;
}
.rac {
    background-color: white;
    color: #7272ff;
}
.ta {
    background-color: black;
}
.para5 {
    color: #666;
}