* {
    font-family: sans-serif;
}

.menu {

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-left {
    width: 30%;
}

.menu-right {
    width: 70%;
}

.menu-right>ul {
    display: flex;
}

.menu-right>ul>li {
    list-style-type: none;
    margin: 10px 0px;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    padding-right: 22px;
    line-height: 1em;
}

.paragraph {
    color: #f0f0f0;
}


.foot {
    background-blend-mode: overlay;
    background-image: url("picture-texture.jpg"), linear-gradient(180deg, #474ab6 0%, #9271f6 100%);
    display: flex;
    padding: 100px;
    max-height: 250px;
}

.left {
    width: 50%;
    color: white;
}

.right {
    width: 50%;
}

button {
    background-color: #09e1c0;
    color: white;
    padding: 15px 30px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
}

button:hover {
    letter-spacing: 2px;
}
.section {
    display: flex;
    margin-top: 100px;
} 

.section-left {
    width: 40%;
}

.section-right {
    width: 60%;
}

li {
    list-style-type: none;

}

.ina {
    background-color: #7272ff;
    color: white;
    padding: 17px 44px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
}

p {
    color: #7272ff;
}

.para2 {
    border-bottom: 4px solid #09e1c0;
    /* color: #9271f6; */
    width: 40px;
}

#costheader {
    color: #9271f6;
}

.para3 {
    color: black;
}

.courses {
    display: flex;
    gap: 20px;
    border: 1px solid rgb(211, 211, 211);
}
.cost {
    display: flex;
}

.select {
    display: flex;
    color: white;
    margin-top: 100px;
}

.select-left {
    width: 50%;
}

.select-right {
    width: 50%;
}
.para4 {
    color:#d4cafb;
}

.select {
background-blend-mode: overlay;
background-image: url("picture-texture.jpg"), linear-gradient(180deg, #474ab6 0%, #9271f6 100%);
display: flex;
padding: 100px;
max-height: 250px;
}

.para {
    border-bottom: 4px solid #09e1c0;
    width: 35px;
}